/* Color Template */

.color-red{
    color: $color-red;
}

.color-red-bg{
    background: $color-red;
}

.color-yellow{
    color: $color-yellow;
}

.color-yellow-bg{
    background: $color-yellow;
}

.collor-blue{
    color: $color-blue;
}

.color-blue-bg{
    background: $color-blue;
}

.topnav-right {
    float: right;
  }